.container{
  display: flex;
  align-items: center;
  gap: 100px;
}


.img{
object-fit: contain;
}

.imageContainer{
  flex: 1;
  position: relative;
  height: 360px;
}

.formContainer{
  flex: 1;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,.form textarea{
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form button{
  border-radius: 5px;
  background-color: var(--btn);
  padding: 20px;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}